.nav_sanpham {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    border-radius: 3px;
    height: 55px;
    font-size: 14px;
    background: #fff;
    margin-bottom: 12px;
    color: #888;
    padding: 0 20px;
}

._27GGo9 {
    color: rgba(0,0,0,.8);
    width: 46.27949%;
}

._3hJbyz {
    width: 15.88022%;
    text-align: center;
}

._155Uu2 {
    width: 15.4265%;
    text-align: center;
}

._10ZkNr {
    width: 10.43557%;
    text-align: center;
}

._1coJFb {
    width: 12.70417%;
    text-align: center;
}

._1GcTXp {
    display: flex;
    align-items: center;
}


.sanpham1{
    display: flex;
}

img{
    height: 100px;
    width: 100px;
}

p{
    padding-left: 230px;
}


h6{
    padding-top: 20px;
    padding-left: 110px;
    margin: 0;
    width: 50px;
}

h6 input{
    width: 50px;
}

h7{
    padding-top: 20px;
    padding-left: 110px;
    margin: 0;
    width: 50px;
}

h7 input{
    width: 50px;
}

h4{
    padding-left: 100px;
    cursor: pointer;
}
h4:hover {
    color: red;
    font-size: 20px;
}
